<% @user.favorites.each do |fav| %>
  <div class="media">
    <div class="pull-left"><%= image_tag(fav.post.user.avatar_url(48)) %></div>
    <div class="media-body">
      <h4><%= link_to fav.post.title, topic_post_path(fav.post.topic, fav.post) %></h4>
      <small>
        submitted <%= time_ago_in_words(fav.post.created_at) %> ago by <%= fav.post.user.name %><br>
        <%= pluralize(fav.post.comments.count, 'comment') %>,
        <%= pluralize(fav.post.points, 'point') %>
      </small>
    </div>
  </div>
<% end %>
